@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .scrollbar::-webkit-scrollbar {
        width: .6rem;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
        background: #636366; 
        border-radius: 1rem;
    }
    
    .dark .scrollbar::-webkit-scrollbar-thumb {
        background: #42C2FF; 
        border-radius: 1rem;
    }
    
    .scrollbar::-webkit-scrollbar-track {
        background: #a5a5a5;
        border-radius: .3rem;
    }
    
    .dark .scrollbar::-webkit-scrollbar-track {
        background: rgba(50, 50, 53, 0.6);
        border-radius: .3rem;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "QuickSand";
}

canvas.react-pdf__Page__canvas {
    border: 1px solid #e4e4e4 !important;
    border-radius: 8px;
}

.dark canvas.react-pdf__Page__canvas{
    border: 1px solid #434e61 !important;
}

@media screen and (min-width: 993px) {
    .dark canvas.react-pdf__Page__canvas,
    canvas.react-pdf__Page__canvas{
        width: 612px !important;
        height: auto !important;
    }
}

@media screen and (max-width: 992px) {
    .dark canvas.react-pdf__Page__canvas,
    canvas.react-pdf__Page__canvas{
        width: 600px !important;
        height: auto !important;
    }
}

@media screen and (max-width: 768px) {
    .dark canvas.react-pdf__Page__canvas,
    canvas.react-pdf__Page__canvas{
        width: 500px !important;
        height: auto !important;
    }
}

@media screen and (max-width: 530px) {
    .dark canvas.react-pdf__Page__canvas,
    canvas.react-pdf__Page__canvas{
        width: 400px !important;
        height: auto !important;
    }
}

@media screen and (max-width: 450px) {
    .dark canvas.react-pdf__Page__canvas,
    canvas.react-pdf__Page__canvas{
        width: 350px !important;
        height: auto !important;
    }
}

@media screen and (max-width: 385px) {
    .dark canvas.react-pdf__Page__canvas,
    canvas.react-pdf__Page__canvas{
        width: 330px !important;
        height: auto !important;
    }
}

@media screen and (max-width: 350px) {
    .dark canvas.react-pdf__Page__canvas,
    canvas.react-pdf__Page__canvas{
        width: 300px !important;
        height: auto !important;
    }
}
